body {
    margin: 10px auto;
    min-width: 250px;
    max-width: 50%;
    background-color: blue;
  }
  * {
    box-sizing: border-box;
  }

  ul {
    margin: 0;
    padding: 0;
  }
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  